

body {
  background-color: #99cccc;
  font-family: sans-serif;
  color: white;
}

#menubar {
  display: block;
  background-color: #99cccc;
  width: 100%;
  top: 50%;
  bottom: 50%; 
  margin: auto;
}

.link {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 50px;
  width: 24.5%;
  margin: auto;
  text-align: center;
}

#title {
  width: 100%;
}

.episode {
  display: block;
  margin: auto;
  text-align: center;
  width: 100%;
}

.main {
  display: block;
  margin: auto;
}


.name {
  position: absolute;
  font-size: 90px;
  top: 0px;
  left: 0px;
  z-index: 50;
}

.name2 {
  position: absolute;
  font-size: 75px;
  top: 100px;
  left: 0px;
  color: #99cccc; 
  z-index: 60;
}

img {
  width: 100%;
}

.castpic {
  position: absolute;
  z-index: 0;
  top: 0px;
  width: 100%; 
}

.text {
  display: block;
  position: absolute;
  z-index: 25;
  bottom: 20px;
  left: 20px;
  font-size: 22px;
  width: 550px;
}

#chelseaTxt {
  right: 20px;
  text-align: right;
}

.about {
  display: block;
  background-color: #999999;
  color: white;
  font-size: 30px;
  margin: auto;
  padding: 50px;
}

.person {
  display: inline-block;
  position: relative;
  background-color: #999999;
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.website {
  color: #DDDDDD;
  text-decoration: none;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}
