
body {
  background-color: #99cccc;
  font-family: sans-serif;
  color: white;
}

#menubar {
  display: block;
  background-color: black;
  width: 100%;
  top: 50%;
  bottom: 50%; 
}

a {
  color: white;
  text-decoration: none;
  font-size: 50px;
}

#title {
  width: 100%;
}

.episode {
}

.main {
}


.name {
  width: 100%;
}

img {
  width: 100%;
}

.person {
  display: block;
  width: 100%;
}

.bio {
  display: block;
  float: right;
}

