
body {
  background-color: #99cccc;
  font-family: sans-serif;
  color: white;
}

#menubar {
}

#title {
  width: 100%;
}

.episode {
}

.main {
}

.text {
}

.name {
  width: 100%;
}

img {
  width: 100%;
}

.person {
  display: block;
}

.bio {
  display: block;
  float: right;
}

