<html>
  <head>
    <title></title>
    <link rel="stylesheet" media="screen and (min-device-width: 500px)" href="../css/stylesheet.css"/>
    <link rel="stylesheet" media="screen and (max-device-width: 500px)" href="../css/mobile.css"/>
  </head>
  <body>
    <div id="menubar">
      <a class="link" href="episodes.html"> EPISODES </a>
      <a class="link" href="cast.html"> CAST </a>
      <a class="link" href="about.html"> ABOUT </a>
      <a class="link" href="home.html"> HOME </a> 
    </div>    
    <div class="main">
      <h1></h1><br>
      <div class="about" id="aboutTxt">
      </div><br>
      <div class="credits">
        <strong>CREATED BY:</strong> Brandon Sargent, Jake Everhart <br>
        <strong>WRITTEN + DIRECTED BY:</strong> Brandon Sargent <br>
        <strong>CINEMATOGRAPHY:</strong> Madeline Tizol, Becky Goodman <br>
        <br>
        <strong>STARRING:</strong><br>
        Brandon Sargent
        Jake Everhart
        Chelsea Rose Eason
        Samantha Prosser<br> 
      </div>
      <div class="credits">
        <strong>INSTAGRAM:</strong>
        <a class="website" href="">@hardfeelingswebseries</a><br>
        <strong>FACEBOOK:</strong>
        <a class="website" href="">/HardFeelingsWebSeries</a><br>
        <strong>YOUTUBE:</strong>
        <a class="website" href="">Hard Feelings Web Series</a><br>
      </div>
    </div>
    <script src="../js/jquery.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>
