<html>
  <head>
    <title></title>
    <link rel="stylesheet" media="screen and (min-device-width: 500px)" href="../css/stylesheet.css"/>
    <link rel="stylesheet" media="screen and (max-device-width: 500px)" href="../css/mobile.css"/>
  </head>
  <body>
    <div id="menubar">
      <a class="link" href="episodes.html"> EPISODES </a>
      <a class="link" href="cast.html"> CAST </a>
      <a class="link" href="about.html"> ABOUT </a>
      <a class="link" href="home.html"> HOME </a> 
    </div>    
    <div class="main">
      <h1></h1><br>
      <div class="about" id="aboutTxt">
      </div><br>
      <div class="about">
        <strong>CREATED BY:</strong><br>
        Brandon Sargent, Jake Everhart<br><br>
        <strong>WRITTEN + DIRECTED BY:</strong><br>
        Brandon Sargent<br><br>
        <strong>CINEMATOGRAPHY:</strong><br>
        Madeline Tizol, Becky Goodman<br><br>
        <strong>MUSIC:</strong><br>
        Mel Bryant<br><br>
        <strong>STARRING:</strong><br>
        Brandon Sargent<br>
        Jake Everhart<br>
        Chelsea Rose Eason<br>
        Samantha Prosser<br> 
      </div><br>
      <div class="about">
        <strong>INSTAGRAM:</strong>
        <a class="website" href="https://www.instagram.com/hardfeelingswebseries/">@hardfeelingswebseries</a><br>
        <strong>FACEBOOK:</strong>
        <a class="website" href="https://www.facebook.com/HardFeelingsWebSeries/?fref=mentions">/HardFeelingsWebSeries</a><br>
        <strong>YOUTUBE:</strong>
        <a class="website" href="https://www.youtube.com/channel/UCv5igFnbF6G3_IrQC5Bb75A">Hard Feelings Web Series</a><br>
      </div>
    </div>
    <script src="../js/jquery.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>
