<html>
  <head>
    <title></title>
    <link rel="stylesheet" media="screen and (min-device-width: 500px)" href="../css/stylesheet.css"/>
    <link rel="stylesheet" media="screen and (max-device-width: 500px)" href="../css/mobile.css"/>
  </head>
  <body>
    <div id="menubar">
      <a class="link" href="episodes.html"> EPISODES </a>
      <a class="link" href="cast.html"> CAST </a>
      <a class="link" href="about.html"> ABOUT </a>
      <a class="link" href="home.html"> HOME </a> 
    </div>        
    <div class="main">  
      <div class="person">
        <h2 class="name">BRANDON SARGENT</h2>
        <h1 class="name2">"WYATT"</h1>
        <img class="castpic" src="../images/brandon.JPG">
        <div class="text" id="brandonTxt">
        </div>
      </div>
      <br>
      <div class="person">
        <h2 class="name">JAKE EVERHART</h2>
        <h1 class="name2">"JESSE"</h1>
        <img class="castpic" src="../images/jake.JPG">
        <div class="text" id="jakeTxt">
        </div>
      </div>
      <br>
      <div class="person">
        <h2 class="name">CHELSEA ROSE EASON</h2>
        <h1 class="name2">"CHUCK"</h1>
        <img class="castpic" src="../images/chelsea.JPG">
        <div class="text" id="chelseaTxt">
        </div>
      </div>
      <br>
      <div class="person">
        <h2 class="name">SAMANTHA PROSSER</h2>
        <h1 class="name2">"SCARLETT"</h1>
        <img class="castpic" src="../images/sam.JPG">
        <div class="text" id="samTxt">
        </div>
      </div>
    </div>
    <script src="../js/jquery.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>
