<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="../css/stylesheet.css"/>
  </head>
  <body>
    <div id="menubar">
      <a class="link" href="#episodes"> EPISODES </a>
      <a class="link" href="#cast"> CAST </a>
      <a class="link" href="#about"> ABOUT </a>
      <a class="link" href="#home"> HOME </a> 
    </div>    
    <div class="main">
      <div class="episode">
        <iframe width="560" 
          height="315" 
          src="https://www.youtube.com/embed/x2clRmJCfqs" 
          frameborder="0" 
          allow="autoplay; encrypted-media" 
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </body>
</html>
