<html>
  <head>
    <title></title>
    <link rel="stylesheet" media="screen and (min-device-width: 500px)" href="../css/stylesheet.css"/>
    <link rel="stylesheet" media="screen and (max-device-width: 500px)" href="../css/mobile.css"/>
  </head>
  <body>
    <div id="menubar">
      <a class="link" href="episodes.html"> EPISODES </a>
      <a class="link" href="cast.html"> CAST </a>
      <a class="link" href="about.html"> ABOUT </a>
      <a class="link" href="home.html"> HOME </a> 
    </div>    
    <div class="main">
      <div class="episode">
        <iframe width="784" height="441" src="https://www.youtube.com/embed/N0CP9zpbmAQ?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </body>
</html>
