<html>
  <head>
    <title></title>
    <link rel="stylesheet" media="screen and (min-device-width: 500px)" href="../css/stylesheet.css"/>
    <link rel="stylesheet" media="screen and (max-device-width: 500px)" href="../css/mobile.css"/>
  </head>
  <body>
    <div id="menubar">
      <a class="link" href="episodes.html"> EPISODES </a>
      <a class="link" href="cast.html"> CAST </a>
      <a class="link" href="about.html"> ABOUT </a>
      <a class="link" href="home.html"> HOME </a> 
    </div>    
    <div class="main">
      <div class="episode">
        <iframe width="784" height="441" src="https://www.youtube.com/embed/i_mQWkROhRs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
        </iframe>
      </div>
      <br>
      <div class="episode">
        <iframe width="784" height="441" src="https://www.youtube.com/embed/JXNM5dQscb8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
        </iframe>
      </div>
      <br>
      <div class="episode">
        <iframe width="784" height="441" src="https://www.youtube.com/embed/0GEwYDCsTrs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
        </iframe>
      </div>
      <br>
      <div class="episode">
        <iframe width="784" height="441" src="https://www.youtube.com/embed/lCpU-7TwCNU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
        </iframe>
      </div>
      <br>
      <div class="episode">
        <iframe width="784" height="441" src="https://www.youtube.com/embed/iXesAJTmbHI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
        </iframe>
      </div>
      <br>
      <div class="episode">
        <iframe width="784" height="441" src="https://www.youtube.com/embed/D0cqNKpEGco" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
        </iframe>
      </div>
      <br>
      <div class="episode">
        <iframe width="784" height="441" src="https://www.youtube.com/embed/3Y-HE_UHXYs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
        </iframe>
      </div>
      <br>
      <div class="episode">
        <iframe width="784" height="441" src="https://www.youtube.com/embed/_jSqkxOf6bg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
        </iframe>
      </div>
      <br>
    </div>
  </body>
</html>
