<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="../css/stylesheet.css"/>
  </head>
  <body>
    <div class="main">
      <img src="../images/group.JPG">
      <div id="menubar">
        <a class="link" href="episodes.html"> EPISODES </a>
        <a class="link" href="cast.html"> CAST </a>
        <a class="link" href="about.html"> ABOUT </a>
        <a class="link" href="home.html"> HOME </a> 
      </div>    
      <img src="../images/group.JPG">
    </div>
  </body>
</html>

