<html>
  <head>
    <title></title>
    <link rel="stylesheet" media="screen and (min-device-width: 500px)" href="../css/stylesheet.css"/>
    <link rel="stylesheet" media="screen and (max-device-width: 500px)" href="../css/mobile.css"/>
  </head>
  <body>
      <div class="episode">
        <iframe width="560" 
          height="315" 
          src="https://www.youtube.com/embed/x2clRmJCfqs" 
          frameborder="0" 
          allow="autoplay; encrypted-media" 
          allowfullscreen>
        </iframe>
      </div>
  </body>
</html>
